nav {
	display: flex;
	justify-content: space-between;
	padding: var(--lg-pm);
	#logo {
		font-weight: bold;
		font-size: 20px;
		color: var(--Gold);
	}
	#logout {
		cursor: pointer;
		font-weight: 700;
	}
}
main {
	display: flex;
	flex-direction: column;
	padding: var(--lg-pm);
	.info-container {
		margin: var(--lg-pm) 0;
		#tabs {
			.tab {
				display: inline-block;
				font-size: var(--subtitle-font);
				color: var(--Gray);
				font-weight: 500;
				padding: var(--sm-pm) var(--m-pm);
				min-width: 100px;
				border: 1px solid var(--LLGray);
				border-radius: 10px 10px 0 0;
				cursor: pointer;
			}
			.tab.active {
				font-weight: 600;
				font-size: var(--lg-font);
				box-shadow: 0px -8px 20px -10px rgba(201, 149, 23, 0.4);
			}
		}
		.details-container {
			display: flex;
			font-size: var(--m-font);
			flex-direction: column;
			.details-sub {
				display: none;
				flex-direction: column;
				border: 1px solid var(--LLGray);
				/** user info */
				#users-info {
					margin: 0 0 var(--m-pm) 0;
					#user-info-labels {
						display: flex;
						background-color: var(--LGray);
						padding: var(--sm-pm) var(--m-pm);
						color: var(--White);
						.label {
							display: flex;
							flex: 1;
						}
					}
					#users-list {
						display: flex;
						flex-direction: column;
						padding: var(--sm-pm) var(--m-pm);
						.user-info {
							display: flex;
							border-bottom: 1px solid var(--LLGray);
							flex: 1;
							.info {
								display: flex;
								flex: 1;
								.action {
									color: var(--Gold);
									cursor: pointer;
									font-weight: 600;
								}
							}
						}
						.user-info:last-of-type {
							border-bottom: none;
						}
					}
				}
				#new-user {
					display: flex;
					flex-direction: column;
					padding: var(--sm-pm) var(--m-pm);
					.sub-sect-title {
						margin: var(--m-pm) 0;
						font-weight: 600;
					}
					#users-form {
						display: flex;
						flex-direction: column;
						.input {
							box-sizing: border-box;
							font-family: 'Poppins';
							padding: var(--m-pm);
							color: var(--Gray);
							border-radius: 5px;
							box-sizing: border-box;
							margin: 0 0 var(--m-pm) 0;
						}
						.input.error {
							border: 2px solid var(--Error);
						}
						#submit-user {
							height: 50px;
							font-size: var(--lg-font);
							cursor: pointer;
							box-sizing: border-box;
							margin: 0 0 var(--m-pm) 0;
						}
					}
				}
				/** categories */
				#categories-info {
					margin: 0 0 var(--m-pm) 0;
					#categories-info-labels {
						display: flex;
						background-color: var(--LGray);
						padding: var(--sm-pm) var(--m-pm);
						color: var(--White);
						.label {
							display: flex;
							flex: 1;
						}
						.label.desc {
							display: flex;
							flex: 2;
						}
					}
					#categories-list {
						display: flex;
						flex-direction: column;
						padding: var(--sm-pm) var(--m-pm);
						.category-info {
							display: flex;
							border-bottom: 1px solid var(--LLGray);
							flex: 1;
							.info {
								display: flex;
								flex: 1;
								.action {
									color: var(--Gold);
									cursor: pointer;
									font-weight: 600;
								}
							}
							.info.desc {
								display: flex;
								flex: 2;
							}
						}
						.category-info:last-of-type {
							border-bottom: none;
						}
					}
				}
				#new-category {
					display: flex;
					flex-direction: column;
					padding: var(--sm-pm) var(--m-pm);
					.sub-sect-title {
						margin: var(--m-pm) 0;
						font-weight: 600;
					}
					#categories-form {
						display: flex;
						flex-direction: column;
						.input {
							box-sizing: border-box;
							font-family: 'Poppins';
							padding: var(--m-pm);
							color: var(--Gray);
							border-radius: 5px;
							box-sizing: border-box;
							margin: 0 0 var(--m-pm) 0;
						}
						.input.error {
							border: 2px solid var(--Error);
						}
						#submit-category {
							height: 50px;
							font-size: var(--lg-font);
							cursor: pointer;
							box-sizing: border-box;
							margin: 0 0 var(--m-pm) 0;
						}
					}
				}
				/** agencies */
				#agencies-info {
					margin: 0 0 var(--m-pm) 0;
					#agencies-info-labels {
						display: flex;
						background-color: var(--LGray);
						padding: var(--sm-pm) var(--m-pm);
						color: var(--White);
						.label {
							display: flex;
							flex: 1;
						}
						.label.long {
							display: flex;
							flex: 2;
						}
					}
					#agencies-list {
						display: flex;
						flex-direction: column;
						padding: var(--sm-pm) var(--m-pm);
						.agency-info {
							display: flex;
							border-bottom: 1px solid var(--LLGray);
							flex: 1;
							.info {
								display: flex;
								flex: 1;
								.action {
									color: var(--Gold);
									cursor: pointer;
									font-weight: 600;
								}
							}
							.info.long {
								display: flex;
								flex: 2;
							}
						}
						.agency-info:last-of-type {
							border-bottom: none;
						}
					}
				}
				#new-agency {
					display: flex;
					flex-direction: column;
					padding: var(--sm-pm) var(--m-pm);
					.sub-sect-title {
						margin: var(--m-pm) 0;
						font-weight: 600;
					}
					#agencies-form {
						display: flex;
						flex-direction: column;
						.input {
							box-sizing: border-box;
							font-family: 'Poppins';
							padding: var(--m-pm);
							color: var(--Gray);
							border-radius: 5px;
							box-sizing: border-box;
							margin: 0 0 var(--m-pm) 0;
						}
						.input.error {
							border: 2px solid var(--Error);
						}
						#submit-agency {
							height: 50px;
							font-size: var(--lg-font);
							cursor: pointer;
							box-sizing: border-box;
							margin: 0 0 var(--m-pm) 0;
						}
					}
				}
				/** companies */
				#companies-info {
					margin: 0 0 var(--m-pm) 0;
					#companies-info-labels {
						display: flex;
						background-color: var(--LGray);
						padding: var(--sm-pm) var(--m-pm);
						color: var(--White);
						.label {
							display: flex;
							flex: 1;
						}
						.label.long {
							display: flex;
							flex: 2;
						}
					}
					#companies-list {
						display: flex;
						flex-direction: column;
						padding: var(--sm-pm) var(--m-pm);
						.company-info {
							display: flex;
							border-bottom: 1px solid var(--LLGray);
							flex: 1;
							.info {
								display: flex;
								flex: 1;
								.action {
									color: var(--Gold);
									cursor: pointer;
									font-weight: 600;
								}
							}
							.info.long {
								display: flex;
								flex: 2;
							}
						}
						.company-info:last-of-type {
							border-bottom: none;
						}
					}
				}
				#new-company {
					display: flex;
					flex-direction: column;
					padding: var(--sm-pm) var(--m-pm);
					.sub-sect-title {
						margin: var(--m-pm) 0;
						font-weight: 600;
					}
					#companies-form {
						display: flex;
						flex-direction: column;
						.input {
							box-sizing: border-box;
							font-family: 'Poppins';
							padding: var(--m-pm);
							color: var(--Gray);
							border-radius: 5px;
							box-sizing: border-box;
							margin: 0 0 var(--m-pm) 0;
						}
						.input.error {
							border: 2px solid var(--Error);
						}
						#submit-company {
							height: 50px;
							font-size: var(--lg-font);
							cursor: pointer;
							box-sizing: border-box;
							margin: 0 0 var(--m-pm) 0;
						}
					}
				}
				/** campaigns */
				#campaigns-info {
					margin: 0 0 var(--m-pm) 0;
					#campaigns-info-labels {
						display: flex;
						background-color: var(--LGray);
						padding: var(--sm-pm) var(--m-pm);
						color: var(--White);
						.label {
							display: flex;
							flex: 1;
						}
					}
					#campaigns-list {
						display: flex;
						flex-direction: column;
						padding: var(--sm-pm) var(--m-pm);
						.campaign-info {
							display: flex;
							border-bottom: 1px solid var(--LLGray);
							flex: 1;
							.info {
								display: flex;
								flex: 1;
								.action {
									color: var(--Gold);
									cursor: pointer;
									font-weight: 600;
								}
							}
						}
						.campaign-info:last-of-type {
							border-bottom: none;
						}
					}
				}
				#new-campaign {
					display: flex;
					flex-direction: column;
					padding: var(--sm-pm) var(--m-pm);
					.sub-sect-title {
						margin: var(--m-pm) 0;
						font-weight: 600;
					}
					#campaigns-form {
						display: flex;
						flex-direction: column;
						#brand-drop-down {
							display: none;
						}
						.input {
							display: inline-block;
							position: relative;
							border: 2px solid var(--LGray);
							box-sizing: border-box;
							font-family: 'Poppins';
							padding: var(--m-pm);
							color: var(--Gray);
							border-radius: 5px;
							box-sizing: border-box;
							margin: 0 0 var(--m-pm) 0;
							.company-list,
							.agency-list,
							.brand-list,
							.category-list {
								display: none;
								position: absolute;
								padding: var(--lg-pm);
								box-shadow: 1px 10px 30px 4px var(--LLGray);
								z-index: -1;
								.item {
									display: flex;
									padding: var(--sm-pm);
									background-color: var(--LLGray);
									margin-bottom: var(--sm-pm);
								}
							}
							.company-list.active,
							.agency-list.active,
							.brand-list.active,
							.category-list.active {
								display: flex;
								flex-direction: column;
								background: var(--White);
								width: 50%;
								top: 45px;
								left: 0px;
								z-index: 1;
							}
						}
						.input.error {
							border: 2px solid var(--Error);
						}
						.input.dropdown {
							cursor: pointer;
						}
						#submit-campaign {
							height: 50px;
							font-size: var(--lg-font);
							cursor: pointer;
							box-sizing: border-box;
							margin: 0 0 var(--m-pm) 0;
						}
					}
				}
				/** nominations */
				#nominations-info {
					margin: 0 0 var(--m-pm) 0;
					#nominations-info-labels {
						display: flex;
						background-color: var(--LGray);
						padding: var(--sm-pm) var(--m-pm);
						color: var(--White);
						.label {
							display: flex;
							flex: 1;
						}
						.label.desc {
							display: flex;
							flex: 2;
						}
					}
					#nominations-list {
						display: flex;
						flex-direction: column;
						padding: var(--sm-pm) var(--m-pm);
						.nomination-info {
							display: flex;
							border-bottom: 1px solid var(--LLGray);
							flex: 1;
							.info {
								display: flex;
								flex: 1;
								.action {
									color: var(--Gold);
									cursor: pointer;
									font-weight: 600;
								}
							}
							.info.long {
								display: flex;
								flex: 2;
							}
						}
						.nomination-info:last-of-type {
							border-bottom: none;
						}
					}
				}
			}
			.details-sub.active {
				display: flex;
			}
		}
	}
}
