<!DOCTYPE html>

<head>
    <title>Admin Dashboard</title>
    <link href="https://fonts.cdnfonts.com/css/poppins" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css" />
</head>

<body>
    <nav>
        <span id="logo">Admin Portal</span>
        <span id="logout">Logout</span>
    </nav>
    <main>
        <div id="welcome">Welcome <span id="admin-name">Admin</span></div>
        <div id="info-container" class="info-container">
            <div id="tabs" class="tabs">
                <span id="users-tab" class="tab active">Users</span>
                <span id="categories-tab" class="tab">Categories</span>
                <span id="agencies-tab" class="tab">Agencies</span>
                <span id="campaigns-tab" class="tab">Campaigns</span>
                <span id="companies-tab" class="tab">Companies</span>
                <span id="nominations-tab" class="tab">Nominations</span>
            </div>
            <div class="details-container">
                <div id="users-container" class="details-sub active">
                    <div id="users-info">
                        <div id="user-info-labels">
                            <span class="label">UID</span>
                            <span class="label">Email Address</span>
                            <span class="label">Action</span>
                        </div>
                        <div id="users-list"></div>
                    </div>
                    <div id="new-user">
                        <span class="sub-sect-title">Create New User</span>
                        <form id="users-form">
                            <input class="input" id="user-email" type="text" placeholder="Email"></input>
                            <input class="input" id="user-password" type="password" placeholder="Password"></textarea>
                            <input id="submit-user" type="submit"></input>
                        </form>
                    </div>
                </div>
                <div id="categories-container" class="details-sub">
                    <div id="categories-info">
                        <div id="categories-info-labels">
                            <span class="label">Category ID</span>
                            <span class="label">Category Name</span>
                            <span class="label desc">Category Description</span>
                        </div>
                        <div id="categories-list"></div>
                    </div>
                    <div id="new-category">
                        <span class="sub-sect-title">Create New Category</span>
                        <form id="categories-form">
                            <input class="input" id="category-name" type="text" placeholder="Category Name"></input>
                            <textarea class="input" id="category-desc" rows="5"
                                placeholder="Category Description"></textarea>
                            <input id="submit-category" type="submit"></input>
                        </form>
                    </div>
                </div>
                <div id="agencies-container" class="details-sub">
                    <div id="agencies-info">
                        <div id="agencies-info-labels">
                            <span class="label">Agency ID</span>
                            <span class="label">Agency Name</span>
                            <span class="label">Email Address</span>
                            <span class="label long">Agency Intro</span>
                        </div>
                        <div id="agencies-list"></div>
                    </div>
                    <div id="new-agency">
                        <span class="sub-sect-title">Create New Agency</span>
                        <form id="agencies-form">
                            <input class="input" id="agency-name" type="text" placeholder="Agency Name"></input>
                            <input class="input" id="agency-email" type="email" placeholder="Email Address"></input>
                            <textarea class="input" id="agency-intro" rows="5"
                                placeholder="Agency Introduction"></textarea>
                            <input id="submit-agency" type="submit"></input>
                        </form>
                    </div>
                </div>
                <div id="campaigns-container" class="details-sub">
                    <div id="campaigns-info">
                        <div id="campaigns-info-labels">
                            <span class="label">Material</span>
                            <span class="label">Campaign Name</span>
                            <span class="label">Nom. Category</span>
                            <span class="label">Brand Name</span>
                            <span class="label">Agency</span>
                            <span class="label">Contact Email</span>
                        </div>
                        <div id="campaigns-list"></div>
                    </div>
                    <div id="new-campaign">
                        <span class="sub-sect-title">Create New Campaign</span>
                        <form id="campaigns-form" enctype="multipart/form-data">
                            <input class="input" id="campaign-name" type="text" placeholder="Campaign Name"></input>
                            <input id="category-id" type="text" hidden></input>
                            <span class="input dropdown" id="category-drop-down">
                                <span id="selected-category">Select Categories(One or more)</span>
                                <span id="category-list" class="category-list"></span>
                            </span>
                            <input id="company-id" type="text" hidden></input>
                            <span class="input dropdown" id="company-drop-down">
                                <span id="selected-company">Select Company</span>
                                <span id="company-list" class="company-list"></span>
                            </span>
                            <input class="input" id="brand-name" type="text" placeholder="Brand Name"></input>
                            <span class="input dropdown" id="brand-drop-down">
                                <span id="selected-brand">Select Brand</span>
                                <span id="brand-list" class="brand-list"></span>
                            </span>
                            <input id="agency-id" type="text" hidden></input>
                            <span class="input dropdown" id="agency-drop-down">
                                <span id="selected-agency">Select Agency</span>
                                <span id="agency-list" class="agency-list"></span>
                            </span>
                            <span class="input dropdown" id="company-drop-down">
                                <span id="selected-company">Select File</span>
                                <input type="file" id="file" />
                            </span>
                            <input class="input" id="contact-email" type="email"
                                placeholder="Contact Email Address"></input>
                            <input id="submit-campaign" type="submit"></input>
                        </form>
                    </div>
                </div>
                <div id="companies-container" class="details-sub">
                    <div id="companies-info">
                        <div id="companies-info-labels">
                            <span class="label">Company ID</span>
                            <span class="label">Company Name</span>
                            <span class="label">Company Brands</span>
                            <span class="label">Email Address</span>
                        </div>
                        <div id="companies-list"></div>
                    </div>
                    <div id="new-company">
                        <span class="sub-sect-title">Create New Company</span>
                        <form id="companies-form">
                            <input class="input" id="company-name" type="text" placeholder="Company Name"></input>
                            <input class="input" id="company-brands" type="text"
                                placeholder="Brands Eg. Fanta, Stoney"></input>
                            <input class="input" id="company-email" type="email"
                                placeholder="Contact Email Address"></input>
                            <input id="submit-company" type="submit"></input>
                        </form>
                    </div>
                </div>
                <div id="nominations-container" class="details-sub">
                    <div class="details-container">
                        <div class="title">Nomination Category</div>
                        <div id="campaigns-info">
                            <div id="sort-campaigns">
                                <input id="nom-category-id" type="text" hidden></input>
                                <span class="input dropdown" id="nom-category-drop-down">
                                    <span id="nom-selected-category"></span>
                                    <span id="nom-category-list" class="category-list"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div id="nominations-info">
                        <div id="nominations-info-labels">
                            <span class="label">Judge ID</span>
                            <span class="label">Campaign</span>
                            <span class="label">Big Idea</span>
                            <span class="label">Insight</span>
                            <span class="label">Comm Integration</span>
                            <span class="label">KPIS &amp; Impact</span>
                            <span class="label">Execution</span>
                            <span class="label">Total</span>
                        </div>
                        <div id="nominations-list"></div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script type="text/javascript" src="/scripts/dash.js"></script>
</body>

</html>