<!DOCTYPE html>

<head>
    <title>Admin Dashboard</title>
    <link href="https://fonts.cdnfonts.com/css/poppins" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css" />
</head>

<body>
    <div id="loading-overlay"></div>
    <nav>
        <span id="logo">Admin Portal</span>
        <span id="logout">Logout</span>
    </nav>
    <main>
        <div id="welcome">Welcome <span id="admin-name">Admin</span></div>
        <div id="info-container" class="info-container">
            <div id="tabs" class="tabs">
                <span id="users-tab" class="tab active">Users</span>
                <span id="categories-tab" class="tab">Categories</span>
                <span id="agencies-tab" class="tab">Agencies</span>
                <span id="campaigns-tab" class="tab">Submissions</span>
                <span id="companies-tab" class="tab">Companies</span>
                <span id="nominations-tab" class="tab">Jury Assessment</span>
                <span id="aggregated-tab" class="tab">Jury Assessment Summary</span>
            </div>
            <div class="details-container">
                <div id="users-container" class="details-sub active">
                    <div id="users-info">
                        <div id="user-info-labels">
                            <span class="label lng">Email Address</span>
                            <span class="label">Action</span>
                            <span class="label"></span>
                            <span class="label"></span>
                        </div>
                        <div id="users-list"></div>
                    </div>
                    <div id="new-user">
                        <div id="new-user-sub">
                            <span class="sub-sect-title" id="new-user-title">Create New User</span>
                            <form id="users-form">
                                <input class="input" id="user-email" type="text" placeholder="Email"></input>
                                <input class="input" id="user-password" type="password"
                                    placeholder="Password"></textarea>
                                <input id="submit-user" type="submit"></input>
                            </form>
                        </div>
                    </div>
                </div>
                <div id="categories-container" class="details-sub">
                    <div id="categories-info">
                        <div id="categories-info-labels">
                            <span class="label">Category Name</span>
                            <span class="label desc">Category Description</span>
                            <span class="label"></span>
                            <span class="label"></span>
                        </div>
                        <div id="categories-list"></div>
                    </div>
                    <div id="new-category">
                        <div id="new-category-sub">
                            <span class="sub-sect-title" id="new-cat-title">Create New Category</span>
                            <form id="categories-form">
                                <input class="input" id="category-name" type="text" placeholder="Category Name"></input>
                                <textarea class="input" id="category-desc" rows="5"
                                    placeholder="Category Description"></textarea>
                                <input id="submit-category" type="submit"></input>
                            </form>
                        </div>
                    </div>
                </div>
                <div id="agencies-container" class="details-sub">
                    <div id="agencies-info">
                        <div id="agencies-info-labels">
                            <span class="label">Agency Name</span>
                            <span class="label">Email Address</span>
                            <span class="label long">Agency Intro</span>
                            <span class="label"></span>
                            <span class="label"></span>
                        </div>
                        <div id="agencies-list"></div>
                    </div>
                    <div id="new-agency">
                        <div id="new-agency-sub">
                            <span class="sub-sect-title" id="new-ag-title">Create New Agency</span>
                            <form id="agencies-form">
                                <input class="input" id="agency-name" type="text" placeholder="Agency Name"></input>
                                <input class="input" id="agency-email" type="email" placeholder="Email Address"></input>
                                <textarea class="input" id="agency-intro" rows="5"
                                    placeholder="Agency Introduction"></textarea>
                                <input id="submit-agency" type="submit"></input>
                            </form>
                        </div>
                    </div>
                </div>
                <div id="campaigns-container" class="details-sub">
                    <div id="campaigns-info">
                        <div id="campaigns-info-labels">
                            <span class="label">Supporting Documents</span>
                            <span class="label">Campaign Name</span>
                            <span class="label long">Nom. Category</span>
                            <span class="label">Brand Name</span>
                            <span class="label">Agency</span>
                            <span class="label">Contact Email</span>
                            <span class="label"></span>
                            <span class="label"></span>
                        </div>
                        <div id="campaigns-list"></div>
                    </div>
                    <div id="new-campaign">
                        <div id="new-campaign-sub">
                            <span class="sub-sect-title" id="new-camp-title">Create New Submission</span>
                            <form id="campaigns-form" enctype="multipart/form-data">
                                <input class="input" id="campaign-name" type="text" placeholder="Campaign Name"></input>
                                <input id="category-id" type="text" hidden></input>
                                <span class="input dropdown" id="category-drop-down">
                                    <span id="selected-category">Select Categories(One or more)</span>
                                    <span id="category-list" class="category-list"></span>
                                </span>
                                <input id="company-id" type="text" hidden></input>
                                <span class="input dropdown" id="company-drop-down">
                                    <span id="selected-company">Select Company</span>
                                    <span id="company-list" class="company-list"></span>
                                </span>
                                <input class="input" id="brand-name" type="text" placeholder="Brand Name"></input>
                                <span class="input dropdown" id="brand-drop-down">
                                    <span id="selected-brand">Select Brand</span>
                                    <span id="brand-list" class="brand-list"></span>
                                </span>
                                <input id="agency-id" type="text" hidden></input>
                                <span class="input dropdown" id="agency-drop-down">
                                    <span id="selected-agency">Select Agency</span>
                                    <span id="agency-list" class="agency-list"></span>
                                </span>
                                <span class="input dropdown" id="file-drop-down">
                                    <span id="selected-company">Select File</span>
                                    <input multiple type="file" id="file" />
                                </span>
                                <input class="input" id="contact-email" type="email"
                                    placeholder="Contact Email Address"></input>
                                <input id="submit-campaign" type="submit"></input>
                            </form>
                        </div>
                    </div>
                </div>
                <div id="companies-container" class="details-sub">
                    <div id="companies-info">
                        <div id="companies-info-labels">
                            <span class="label">Company Name</span>
                            <span class="label">Company Brands</span>
                            <span class="label">Email Address</span>
                            <span class="label"></span>
                        </div>
                        <div id="companies-list"></div>
                    </div>
                    <div id="new-company">
                        <div id="new-company-sub">
                            <span class="sub-sect-title" id="new-comp-title">Create New Company</span>
                            <form id="companies-form">
                                <input class="input" id="company-name" type="text" placeholder="Company Name"></input>
                                <input class="input" id="company-brands" type="text"
                                    placeholder="Brands Eg. Fanta, Stoney"></input>
                                <input class="input" id="company-email" type="email"
                                    placeholder="Contact Email Address"></input>
                                <input id="submit-company" type="submit"></input>
                            </form>
                        </div>
                    </div>
                </div>
                <div id="nominations-container" class="details-sub">
                    <div class="details-container">
                        <div class="title">Nomination Category</div>
                        <div id="campaigns-info">
                            <div id="sort-campaigns">
                                <input id="nom-category-id" type="text" hidden></input>
                                <span class="input dropdown" id="nom-category-drop-down">
                                    <span id="nom-selected-category"></span>
                                    <span id="nom-category-list" class="category-list"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div id="nominations-info">
                        <div id="nominations-info-labels" class="active">
                            <span class="label outlined"><span class="title">Jurers Email</span></span>
                            <span class="label outlined"><span class="title">Campaign</span></span>
                            <span class="label outlined">
                                <span class="title">Alignment to Strategy</span>(indicate how the campaign aligns to
                                corporate
                                and/or business strategy)</span>
                            <span class="label outlined">
                                <span class="title">Objectives and Budget</span>(Set targetss,breakdown of the costs
                                allocated to
                                staffing, agency, media)</span>
                            <span class="label outlined">
                                <span class="title">Implementation</span>
                                (Demonstrate areas of creativity,Target audience
                                reach
                                ,challenges met and how they were overcome)</span>
                            <span class="label outlined">
                                <span class="title">Impact</span>(Relate results to Objectives,Budget control,Provide
                                actual
                                numbers rather than percentage I.e show tangible results)</span>
                            <span class="label outlined">
                                <span class="title">Why your Campaign should win</span>
                                (What sets your submission
                                apart
                                from others?
                                Judges will be looking for what was unique)</span>
                            <span class="label outlined"><span class="title">Total</span></span>
                            <span class="label outlined"><span class="title">Jurers Comment</span></span>
                        </div>
                        <div id="nominations-info-labels-ay">
                            <span class="label outlined"><span class="title">Jurers Email</span></span>
                            <span class="label outlined"><span class="title">Campaign</span></span>
                            <span class="label outlined">
                                <span class="title">Work Executed</span>(
                                Submit 3 - 5 cases of the work generated by the agency for your most important clients
                                during the period under
                                consideration.
                                Demonstrate impact on business results for the cases explained above)</span>
                            <span class="label outlined">
                                <span class="title">Sustainability</span>(
                                Demonstrate your approach to move towards becoming more sustainable.)</span>
                            <span class="label outlined">
                                <span class="title">Culture</span>
                                (
                                Explain your culture, agency philosophy and measure to promote talent within the agency.
                                Explain your positioning in the market and how it differentiates the agency.
                                )</span>
                            <span class="label outlined"><span class="title">Total</span></span>
                            <span class="label outlined"><span class="title">Jurers Comment</span></span>
                        </div>
                        <div id="nominations-list"></div>
                    </div>
                </div>
                <div id="aggregated-container" class="details-sub">
                    <div id="aggregated-info">

                    </div>
                </div>
            </div>
        </div>
    </main>
    <script type="text/javascript" src="/scripts/dash.js"></script>
</body>

</html>