<!DOCTYPE html>

<head>
    <title>Jury Dashboard</title>
    <link href="https://fonts.cdnfonts.com/css/poppins" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css" />
</head>

<body>
    <nav>
        <span id="logo">Jury Portal</span>
        <span id="logout">Logout</span>
    </nav>
    <main>
        <div id="welcome">Welcome <span id="jurer-name">Jurer</span></div>
        <div class="info-container">
            <div class="details-container">
                <div class="details-sub active">
                    <div class="title">Nomination Category</div>
                    <div id="campaigns-info">
                        <div id="sort-campaigns">
                            <input id="category-id" type="text" hidden></input>
                            <span class="input dropdown" id="category-drop-down">
                                <span id="selected-category"></span>
                                <span id="category-list" class="category-list"></span>
                            </span>
                        </div>
                    </div>
                    <div class="title">Submitted Campaigns</div>
                    <div id="campaigns-info-u">
                        <div id="campaigns-info-labels">
                            <span class="label">Material</span>
                            <span class="label">Campaign Name(Click To Open)</span>
                            <span class="label">Brand Name</span>
                        </div>
                        <div id="campaigns-list"></div>
                    </div>
                </div>
            </div>
            <div id="nomination-modal" class="modal">
                <div id="nomination-container" class="nomination-container">
                    <div class="title"><span id="title-pre">Rate</span> <span id="campaign-name" class="title"></span>
                        campaign for
                        <span id="nom-category-name"></span>
                    </div>
                    <form id="nomination">
                        <input class="input" id="alignment" type="number"
                            placeholder="Alignment to Strategy ie. Maximum is 20" />
                        <input class="input" id="objectives" type="number"
                            placeholder="Objectives and Budget ie. Maximum is 15" />
                        <input class="input" id="implementation" type="number"
                            placeholder="implementation ie. Maximum is #0" />
                        <input class="input" id="impact" type="number" placeholder="Impact ie. Maximum is 30" />
                        <input class="input" id="why_win" type="number"
                            placeholder="Why should you win ie. Maximum is 5" />
                        <textarea class="input" id="comment" rows="5" placeholder="Comment"></textarea>
                        <input class="input" id="submit-nomination" type="submit"></input>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <script type="text/javascript" src="/scripts/jury-dash.js"></script>
</body>

</html>