<!DOCTYPE html>

<head>
    <title>Jury Dashboard</title>
    <link href="https://fonts.cdnfonts.com/css/poppins" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css" />
</head>

<body>
    <nav>
        <span id="logo">Jury Portal</span>
        <span id="logout">Logout</span>
    </nav>
    <main>
        <div id="welcome">Welcome <span id="jurer-name">Jurer</span></div>
        <div class="info-container">

        </div>
    </main>
    <script type="text/javascript" src="/scripts/jury-dash.js"></script>
</body>

</html>