<!DOCTYPE html>

<head>
    <title>Dashboard</title>
    <link href="https://fonts.cdnfonts.com/css/poppins" rel="stylesheet">
    <link rel="stylesheet" href="/Admin/styles/main.css" />
</head>

<body>
    <nav>
        <span id="logo">Admin Portal</span>
        <span id="logout">Logout</span>
    </nav>
    <main>
        <div>Welcome <span id="admin-name">Admin</span></div>
        <div id="info-container" class="info-container">
            <div id="tabs" class="tabs">
                <span class="tab active">Users</span>
            </div>
            <div class="details-container">
                <div id="users-container" class="details-sub active">
                    <div id="user-info-labels">
                        <span class="label">UID</span>
                        <span class="label">Email Address</span>
                        <span class="label">Action</span>
                    </div>
                    <div id="users-list"></div>
                </div>
            </div>
    </main>
    <script type="text/javascript" src="/Admin/scripts/dash.js"></script>
</body>

</html>